h1 {
  margin-left: 30%;
  margin-right: 30%;
}
.games {
  margin-left: 30%;
  margin-right: 30%;
}

h3{
  text-align: center;
}

p{
  text-align: center;

}

.gato{
  margin-right: 10%;
  margin-left: 10%;
  border: 2px solid rgb(41, 24, 138);
  background-color: rgb(68, 66, 177);
  border-radius: 30px;
  width: 400px;
}

.gato-conf {
  width: 40%;
  margin-left:30%;
  margin-right: 30%;
  gap: 50px;
  display: flex;
  flex-direction: row;
}


.gatto {
  border-radius: 20px;
  margin-right: 20px;
  border: 2px solid rgb(41, 24, 138);
}

.gatto:hover {
  width: 155px;
  height: 155px;
  
}

.memorice{
  margin-right: 10%;
  margin-left: 10%;
  border: 2px solid rgb(41, 24, 138);
  background-color: rgb(68, 66, 177);
  border-radius: 30px;
  width: 400px;
}

.memorice-conf {
  margin-left:30%;
  margin-right: 30%;
  gap: 50px;
  display: flex;
  flex-direction: row;
}

.memo {
  border-radius: 20px;
  margin-right: 20px;
  border: 2px solid rgb(41, 24, 138);
}

.memo:hover {
  width: 155px;
  height: 155px;
  
}