

.home {
  width: 90%;
  height: 420px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  
}

.p {
  background-color: rgb(103, 103, 218);
  border-radius: 15px;
  border: 2px solid blue;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingresa {
  text-align: center;
}