.Principal {
  
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  align-content: center;
  
}

.Principal:hover {
  border-radius: 8px;
  cursor: pointer;
}