.Principal {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  margin-left: 45%;
  margin-right: 45%;
  align-items: center;
  
}

.Principal:hover {
  border-radius: 8px;
  cursor: pointer;
}